/*Main Table*/
#main_table{
	display: table;
	width: 100%;
	min-height: 100vh;
}

/*Site Title*/
#title{
	display: table-caption;
	background-color: #202466;
	text-align: left;
	padding-left: 10px;
}
#title #site_title1{
	color: yellow;
	font-size: 48pt;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left
}
#title #contact{
	float: right;
	padding-top: 15px;
	padding-right: 20px;
	color: white
}
#title #site_title2{
	color: #FFFFFF;
	font-size: 24pt;
	margin-bottom: 20px;
	float: left;
	clear: both	
}
#title #contact a{
	color: lightyellow;
}

/*Table of Contents*/
#toc{
	display: table-cell;
	background-color: #E6E6E6;
	height: 500px;
	width: 200px;
	padding-left: 10px;
}
.toc_heading{
	margin-bottom: 10px;
	font-weight: bold;
}
.toc_item{
	margin-bottom: 5px;
}

/*Page Body*/
#bodytext{
	display: table-cell;
	padding-left: 15px;
	padding-top: 15px;
}
#bodytext h1{
	font-size: 28px;
}
#portfolio_items li{
	padding-bottom: 10px;
}