#contact a{
	color: lightyellow;
}
#main_table{
	display: table;
	width: 100%;
}
#title{
	display: table-caption;
	background-color: #202466;
	text-align: left;
	padding-left: 10px;
}
#toc{
	display: table-cell;
	background-color: #E6E6E6;
	height: 500px;
	width: 200px;
	padding-left: 10px;
}
.toc_heading{
	margin-bottom: 10px;
	font-weight: bold;
}
.toc_item{
	margin-bottom: 5px;
}
#bodytext{
	display: table-cell;
	padding-left: 15px;
	padding-top: 15px;
}
#bodytext h1{
	font-size: 20px;
}
#portfolio_items li{
	padding-bottom: 10px;
}